<!--
  Generated template for the EatingSearchPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!-- <ion-header>

    <ion-toolbar no-border-top>
        <ion-searchbar *ngIf="sr " [(ngModel)]="term" showCancelButton="true">
        </ion-searchbar>
        <button mat-icon-button (click)="ser_Input()">jkhk</button>
      </ion-toolbar>

</ion-header> -->

<ion-header>
	<ion-toolbar>
		
        <ion-searchbar [(ngModel)]="term" showCancelButton="true" *ngIf="sr ">
        </ion-searchbar>
		<ion-buttons end>
			<button *ngIf="sr " ion-button icon-only (click)="ser_Input()">
				<ion-icon name="close"></ion-icon>
			</button>
		</ion-buttons>
		<ion-buttons end>
			<button *ngIf="!sr " ion-button icon-only (click)="ser_Input()">
				<ion-icon name="search"></ion-icon>
			</button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>

<ion-content padding>
        <ion-refresher (ionRefresh)="doRefresh($event)">
                <ion-refresher-content
                pullingIcon="arrow-dropdown"
                pullingText="Pull to refresh"
                refreshingSpinner="circles"
                refreshingText="Refreshing...">
              </ion-refresher-content>
             </ion-refresher>
    <!-- <ion-searchbar [(ngModel)]="term"></ion-searchbar> -->
    <!-- <div *ngIf="term" class="spinner-container">
        <ion-spinner></ion-spinner>
    </div> -->

    <div *ngIf="term && sr">
        <ion-card class="custom-card danger" *ngFor="let item of items |filter:term" (click)="moreInfo(item.restaurant_key)">

            <div class="custom-card-label">
                <div class="custom-card-label-text">
                 {{item.type}}
                </div>
              </div>
              <div class="img1">
                  <div class="img2">
                      <img src="../../assets/./imgs/./food.jpg"/>
                  </div>
                </div>

            <ion-card-content class="pos1">
              <div class="pos2">
                <ion-card-title>
                    {{item.name}}
                </ion-card-title>
                <ion-row>
                        <ion-col col-1>
                    <ion-icon class="shapeIcone changeColor" name="cash-outline" item-start></ion-icon>
                </ion-col>
                <ion-col col-4>
                     <p>  {{item.price}} دينار</p> 
                </ion-col>
               <ion-col col-7></ion-col>
                </ion-row>
            
              </div>
            </ion-card-content>
          </ion-card>
  </div>
</ion-content>
<!-- <button ion-button color="dark" (click)="moreInfo(item.restaurant_key)">Details</button> -->
