page-cart {
.yl{
    background-color: #ffd700;
     .item-inner {
        padding-right: 8px;
        padding-right: 8px;
        border-bottom: 0.55px solid #ffd700 !important;
    }
}
.item-inner {
    padding-right: 8px;
    padding-right: 8px;
    border-bottom: 0.55px solid #c8c7cc00 !important;
}
.no-order{color:#fff}
.btn{
    height: 40px !important;
    font-size: 2.2rem !important;
    margin-bottom: 15px !important;
}

.btn-div{
    margin: 4% 50% 0% 0%;
}
.btn-img{
    margin: -1px;
    width: 70%;
}
.noBackColor{
    background-color: #fff0;
}
.noborderBottom {
    border-bottom: 0.55px solid #c8c7cc00 !important;
}
}
