page-menu {
    ion-content{
        direction: rtl;
    }
    .ico{
        color: #f9f0f0;
        background-color: #ffa67e;
        border-radius: 25%;
        padding: 10px;
        font-size: x-large;
    }
.btn-div{
    margin: -16% 40% 0% 0%;
}
.btn-img{
    margin: -1px;
    width: 40px;
}
ion-col{

    display: inline-flex;
}

.item-divider {
    text-align: center;
    padding-left: 16px;
    border-bottom: 1px solid #dedede;
    font-size: 2.4rem;
    color: #f4f4f4;
    background-color: #fff;
    height: 20px;
    min-height: 40px;
}
}
